<?xml version="1.0" encoding="UTF-8"?>

<configuration>

	<timestamp key="BY_SECOND" datePattern="yyyyMMdd'T'HHmmss" />

	<property resource="logback.properties" />

	<appender name="ConsoleAppender"
		class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="net.logstash.logback.encoder.LogstashEncoder">
			<customFields>${log.custom.field.app.name}</customFields>
			<fieldNames>
				<timestamp>timestamp</timestamp>
				<version>[ignore]</version>
				<levelValue>[ignore]</levelValue>
				<logger>logger</logger>
				<thread>thread</thread>
			</fieldNames>
		</encoder>
	</appender>

	<appender name="FileAppender"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		
		<!-- ACTIVE OUTPUT TARGET -->
		<file>${baseDir}/${app.name}-${app.version}.log</file>
		
		<rollingPolicy
			class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<!-- ARCHIVED LOG FILES -->
			<fileNamePattern>
				${baseDir}/${app.name}-${app.version}_%d{yyyy-MM-dd}_%i.log
			</fileNamePattern>
			
			<maxFileSize>200KB</maxFileSize>
			<maxHistory>1</maxHistory>
			<totalSizeCap>1MB</totalSizeCap>
		</rollingPolicy>

		<append>true</append>
		<encoder class="net.logstash.logback.encoder.LogstashEncoder">
			<customFields>${log.custom.field.app.name}</customFields>
			<fieldNames>
				<timestamp>timestamp</timestamp>
				<version>[ignore]</version>
				<levelValue>[ignore]</levelValue>
				<logger>logger</logger>
				<thread>thread</thread>
			</fieldNames>
		</encoder>
	</appender>

	<appender name="KafkaAppender"
		class="com.github.danielwegener.logback.kafka.KafkaAppender">
		<encoder class="net.logstash.logback.encoder.LogstashEncoder">
			<customFields>${log.custom.field.app.name}</customFields>
			<fieldNames>
				<timestamp>timestamp</timestamp>
				<version>[ignore]</version>
				<levelValue>[ignore]</levelValue>
				<logger>logger</logger>
				<thread>thread</thread>
			</fieldNames>
		</encoder>

		<!-- Configure topics -->
		<topic>${log.kafka.topic}</topic>

		<keyingStrategy
			class="com.github.danielwegener.logback.kafka.keying.NoKeyKeyingStrategy" />
		<deliveryStrategy
			class="com.github.danielwegener.logback.kafka.delivery.AsynchronousDeliveryStrategy" />

		<!-- Kafka producer configuration starts -->
		<producerConfig>bootstrap.servers=${log.kafka.bootstrap.servers}
		</producerConfig>
		<producerConfig>linger.ms=1000</producerConfig>
		<!-- even if the producer buffer runs full, do not block the application 
			but start to drop messages -->
		<producerConfig>max.block.ms=0</producerConfig>
		<!-- Kafka producer configuration ends -->

		<appender-ref ref="FileAppender" />
	</appender>


	<!-- Add all appenders -->
	<root level="${log.level}">
		<appender-ref ref="FileAppender" />
		<if condition='isDefined("log.kafka.enable")'>
			<then>
				<if condition='property("log.kafka.enable").equals("true")'>
					<then>
						<appender-ref ref="KafkaAppender" />
					</then>
				</if>
			</then>
		</if>
		<appender-ref ref="ConsoleAppender" />
	</root>

</configuration>